/* ================================ MONTH VIEW STYLES ================================ */

.fc {
  .month-view {
    /* day-header styles */
    .month-view__day-header {
      .fc-col-header-cell-cushion {
        @apply block bg-accent px-3 py-2 text-left text-sm font-medium uppercase text-muted-text;
      }
    }

    /* styles for the last month days and the next month days */
    .fc-day-other {
      @apply text-muted-text;
    }

    /* day-cell styles */
    .month-view__day-cell {
      @apply h-auto md:h-32;
      /* styles for default date number */
      .fc-daygrid-day-top {
        @apply flex h-10 w-10 flex-row items-center justify-center p-1 text-lg font-semibold;
      }

      /* styles for active day */
      &.fc-day-today {
        .fc-daygrid-day-top {
          /* styles for current date number */
          .fc-daygrid-day-number {
            @apply flex h-full w-full items-center justify-center rounded-full bg-primary font-semibold text-primary-text;
          }
        }
      }

      /* day-cell event styles */
      .fc-daygrid-day-events,
      .fc-daygrid-block-event {
        @apply rounded-default border-0 px-px py-0.5 text-xs;
      }
    }
  }
}
