@import "./daygrid-month-view.css";
@import "./timegrid-week-view.css";
@import "./list-month-view.css";

:root {
  --fc-page-bg-color: hsl(var(--main));
  --fc-neutral-bg-color: hsl(var(--accent));
  --fc-muted-text-color: hsl(var(--accent-text));
  --fc-border-color: hsl(var(--main-border));
  --fc-button-text-color: hsl(var(--muted-text));
  --fc-button-bg-color: transparent;
  --fc-button-border-color: hsl(var(--main-border));
  --fc-button-hover-bg-color: transparent;
  --fc-button-hover-border-color: hsl(var(--accent));
  --fc-button-active-bg-color: hsl(var(--main));
  --fc-button-active-border-color: hsl(var(--accent));
  --fc-event-bg-color: hsl(var(--primary));
  --fc-event-border-color: hsl(var(--primary));
  --fc-event-text-color: hsl(var(--primary-text));
  --fc-event-selected-overlay-color: hsla(0, 0, 0, 0.25);
  --fc-more-link-bg-color: hsl(var(--accent));
  --fc-more-link-text-color: inherit;
  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;
  --fc-non-business-color: hsl(var(--accent));
  --fc-bg-event-color: #8fdf82;
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: hsla(64, 64, 64, 0.1);
  --fc-today-bg-color: transparent;
  --fc-now-indicator-color: hsl(var(--primary));
}

/* ======================================== COMMON STYLES OVERRIDES ======================================== */

.fc {
  /* ********** Border-radius For The Container ********** */
  @apply text-main-text;

  .fc-daygrid {
    @apply overflow-hidden rounded-md;
  }

  .fc-scrollgrid {
    @apply !rounded-md;
  }

  .fc-col-header {
    @apply overflow-hidden rounded-t-md;
  }

  .fc-dayGridMonth-view .fc-scrollgrid-section > td,
  .fc-scrollgrid-section-liquid > td {
    @apply !rounded-bl-md !rounded-br-md;
  }

  .fc-scrollgrid-section > th {
    @apply !rounded-t-md;
  }

  /* ********** ********** ********** ********** ********** ******* */
  /* ********** Calender Navbar/Toolbar Styles Overrides ********** */
  /* ********** ********** ********** ********** ********** ******* */

  /* header toolbar styles */
  .fc-toolbar.fc-header-toolbar {
    @apply mb-2;
  }

  /* toolbar title Example: August 2024 */
  .fc-header-toolbar .fc-toolbar-chunk .fc-toolbar-title {
    @apply text-xl font-semibold text-main-text;
  }

  /* ******* styles for month/week/day/list items button ******* */
  .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) .fc-button-group {
    @apply rounded-lg bg-accent p-1;

    .fc-button {
      @apply rounded-md border-none px-3 py-2 text-sm;
    }
  }

  /* styles for active header button */
  .fc-button-primary:not(:disabled).fc-button-active {
    @apply bg-surface text-main-text drop-shadow-sm;
  }

  /* ******* styles for prev month, next month and today button ******* */
  .fc-header-toolbar .fc-toolbar-chunk:last-child .fc-button-group {
    @apply gap-2;

    .fc-button {
      @apply h-10 rounded-md border border-main-border text-sm text-main-text;
    }

    .fc-prev-button,
    .fc-next-button {
      @apply flex h-10 w-10 items-center justify-center p-2;
    }

    .fc-icon {
      @apply flex items-center justify-center;

      &::before {
        @apply text-lg;
      }
    }

    .fc-today-button {
      @apply rounded-md px-3 py-2;
    }
  }

  .fc-button {
    @apply font-medium capitalize;

    &:focus {
      @apply !ring-0;
    }
  }
  /* ********** ********** ********** ********** ********** ******* */

  /* ********** daygrid event more link and popover ********** */
  .fc-daygrid-more-link {
    @apply text-sm font-medium text-primary;
  }

  .fc-daygrid-dot-event {
    @apply flex flex-col items-start justify-start truncate bg-secondary px-1 py-0.5 text-xs text-black;

    .fc-daygrid-event-dot {
      @apply hidden;
    }

    .fc-event-time {
      @apply py-0 font-normal;
    }

    .fc-event-title {
      @apply py-0 font-medium;
    }
  }

  /* ================================ COMMON STYLES OVERRIDES FOR TIME GRIDS ================================ */
  /* *********************************** EXAMPLE: timeGridWeek timeGridDay *****************************  */

  .fc-timegrid {
    .fc-daygrid-day,
    .fc-daygrid-day.fc-day-today {
      @apply bg-accent;
    }

    /* override the width between slot label and slot lane */
    colgroup col {
      @apply !w-20;
    }

    /* styles for all day header slot */
    .timegrid-all-day {
      @apply h-12 bg-accent pr-2 text-xs capitalize text-muted-text;
    }

    /* hide divider between timegrid header and timegrid body  */
    td.fc-timegrid-divider.fc-cell-shaded {
      @apply hidden;
    }

    /* styles for time grid slots */
    .fc-timegrid-slots {
      .fc-timegrid-slot-minor {
        @apply border-t-0;
      }

      .fc-timegrid-slot-label {
        @apply h-6 bg-accent pr-2 pt-2 text-xs text-muted-text;
      }
    }
  }

  /* ********** ********** ********** ********** ********** ******* */
}
