/* ================================ LIST MONTH VIEW STYLES ================================ */

.fc {
  .fc-list {
    @apply border-none;

    .fc-list-empty {
      @apply bg-transparent;
    }

    td,
    th {
      @apply border-none;
    }
    .fc-list-day {
      @apply my-1;
    }

    .fc-list-day-cushion {
      @apply !border border-main-border text-base;
    }

    .fc-list-event-title {
      @apply hover:bg-surface py-0;

      .custom-event-list {
        @apply my-1 flex h-10 cursor-pointer items-center justify-between border-l-4 border-l-primary px-3 py-2 hover:bg-accent;

        .custom-event-list-title {
          @apply text-sm font-semibold;
        }

        .custom-event-list-time {
          @apply text-sm text-muted-text;
        }
      }
    }

    .fc-list-event-graphic {
      @apply hidden;
    }
  }
}
