/* ================================ WEEK VIEW STYLES OVERRIDES ================================ */

.fc {
  /* *********** header cell active style *********** */
  .fc-timeGridWeek-view {
    .fc-col-header-cell-cushion {
      @apply text-main-text flex flex-col whitespace-pre-line px-3 py-2 text-left text-sm font-medium;

      span {
        @apply text-lg font-semibold;
      }
    }

    .fc-day-today .fc-col-header-cell-cushion {
      @apply text-primary;
    }
  }

  .day-view {
    .fc-timegrid-axis {
      @apply bg-accent;
    }
    .day-view__day-header {
      @apply h-16 text-left;

      .fc-col-header-cell-cushion {
        @apply flex flex-col justify-center pl-2 pt-2 text-sm font-medium;

        span {
          @apply text-lg font-semibold;
        }
      }
    }
  }

  /* ********************* Time Grid Current Time/Now Indicator styles ********************* */
  .fc-timeGridWeek-view .fc-timegrid-now-indicator-container {
    overflow: visible !important;
  }
  .fc-timeGridWeek-view .fc-timegrid-now-indicator-line {
    width: calc(700% + 6px) !important;
  }

  /**
 * The use of nth-child is to address the day columns depending on their order.
 *
 * - The 1st column does not correspond to any day, but it's the column that shows the timegrid
 *   timeline.
 * - The 2nd column corresponds to the 1st day of the week view. This is the one with 0% below.
 * - We continue with each subsequent column, incrementing its percentage in 1/7 each time.
 *
 * By addressing day columns by their order, instead of by their weekday class name
 * (e.g. .fc-day-fri) we guarantee that this solution works regardless of what the first day of the
 * week is.
 */

  .fc-timeGridWeek-view .fc-day:nth-child(2) .fc-timegrid-now-indicator-line {
    --fc-now-indicator-shift: 0%;
  }
  .fc-timeGridWeek-view .fc-day:nth-child(3) .fc-timegrid-now-indicator-line {
    --fc-now-indicator-shift: 14.29%;
  }
  .fc-timeGridWeek-view .fc-day:nth-child(4) .fc-timegrid-now-indicator-line {
    --fc-now-indicator-shift: 28.57%;
  }
  .fc-timeGridWeek-view .fc-day:nth-child(5) .fc-timegrid-now-indicator-line {
    --fc-now-indicator-shift: 42.86%;
  }
  .fc-timeGridWeek-view .fc-day:nth-child(6) .fc-timegrid-now-indicator-line {
    --fc-now-indicator-shift: 57.14%;
  }
  .fc-timeGridWeek-view .fc-day:nth-child(7) .fc-timegrid-now-indicator-line {
    --fc-now-indicator-shift: 71.43%;
  }
  .fc-timeGridWeek-view .fc-day:nth-child(8) .fc-timegrid-now-indicator-line {
    --fc-now-indicator-shift: 85.71%;
  }

  .fc-timeGridWeek-view .fc-day .fc-timegrid-now-indicator-line {
    transform: translateX(calc(-1 * var(--fc-now-indicator-shift)));
  }
}
