@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* general */
  --background: 210 17% 96%; /* slate-100 */
  --foreground: 0 0% 0%; /* black */

  --border: 0 0% 83%; /* neutral-300 */

  --popover: 0 0% 100%; /* white */
  --popover-foreground: 0 0% 0%; /* black */

  --muted: 0 0% 90%; /* neutral-200 */
  --muted-foreground: 0 0% 25%; /* neutral-700 */

  --primary: 24 95% 53%; /* orange-500 */
  --primary-foreground: 0 0% 100%; /* white */

  --secondary: 30 100% 83%; /* #FED7AA */
  --secondary-foreground: 24 88% 40%; /* orange-700 */

  --accent: 0 0% 96%; /* neutral-100 */
  --accent-foreground: 0 0% 0%; /* black */

  --ring: 0 0% 100%; /* white */

  --input: 0 0% 83%; /* neutral-500 */
}

.dark {
  /* general */
  --background: 0 0% 4%; /* neutral-900 */
  --foreground: 0 0% 96%; /* neutral-100 */

  --popover: 0 0% 7%; /* #131313 */
  --popover-foreground: 0 0% 96%; /* neutral-100 */

  --muted: 0 0% 15%; /* neutral-800 */
  --muted-foreground: 0 0% 64%; /* neutral-400 */

  --primary: 24 95% 53%; /* orange-500 */
  --primary-foreground: 0 0% 100%; /* white */

  --secondary: 30 100% 83%; /* #FED7AA */
  --secondary-foreground: 24 88% 40%; /* orange-700 */

  --accent: 0 0% 12%; /* neutral-850 */
  --accent-foreground: 0 0% 96%; /* neutral-100 */

  --ring: 0 0% 15%;

  --border: 0 0% 32%; /* neutral-700 */

  --input: 0 0% 25%; /* neutral-600 */
  --kanban: 0 0% 15%; /* neutral-800 */
}

[data-search-full] {
  @apply text-fd-muted-foreground/80 bg-fd-popover;
}
