/* card glow effect animation */
#cards:hover > .card_glow::after {
  opacity: 1;
}

.card_glow {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card_glow:hover::before {
  opacity: 1;
}

.card_glow::before,
.card_glow::after {
  z-index: -5;
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
  pointer-events: none;
}

.card_glow::before {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    hsl(var(primary) / 0.075),
    transparent 40%
  );
  z-index: 3;
}

.card_glow::after {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    hsl(var(primary) / 0.1),
    transparent 40%
  );
  z-index: 1;
}

.card_glow > .card_glow_content {
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  position: absolute;
  z-index: 10;
  align-items: center;
  justify-content: center;
}
