:root {
  --fd-nav-height: 4rem !important;
  --toc-height: 2rem;
  --fd-banner-height: -0.5rem !important;
}

@media (max-width: 768px) {
  :root {
    --fd-nav-height: 3rem !important;
    --fd-banner-height: 0.5rem !important;
  }
}

h1 {
  @apply bg-gradient-to-br from-main-text to-muted-text/70 bg-clip-text font-bold tracking-tight text-transparent;
}

[data-search-full] {
  @apply bg-fd-popover text-fd-muted-foreground/80;
}

#nd-tocnav {
  @apply h-[var(--toc-height)];
}

#nd-docs-layout aside#nd-sidebar {
  @apply sm:bg-fd-background/10 sm:backdrop-blur-md;

  a {
    @apply px-4 md:inline-block md:truncate md:w-[calc(var(--fd-sidebar-width)-48px)] md:overflow-hidden;
  }

  button {
    &[data-state="open"] {
      @apply text-fd-foreground [&>svg]:rotate-180;
    }

    & > svg {
      @apply rotate-0;
    }
  }
}

#nd-docs-layout {
  .steps .step::before {
    @apply bg-fd-card text-fd-card-foreground shadow-sm;
  }

  [role="tablist"] {
    @apply bg-fd-accent;
  }
}

.fd-codeblock {
  @apply bg-fd-card;
}

/* override for the preview */

.preview {
  [role="tablist"] {
    @apply !bg-main;
  }
}
