:root {
  --navbar-height: 4rem;
  --toc-height: 2rem;
}

@media (max-width: 768px) {
  :root {
    --navbar-height: 3rem;
  }
}

h1 {
  @apply bg-gradient-to-br from-main-text to-neutral-text/70 bg-clip-text font-bold tracking-tight text-transparent sm:font-extrabold;
}

[data-search-full] {
  @apply bg-fd-popover text-fd-muted-foreground/80;
}

#nd-tocnav {
  @apply md:top-[var(--navbar-height)] h-[var(--toc-height)];
}

#nd-docs-layout aside#nd-sidebar {
  @apply sm:bg-fd-background/10 sm:backdrop-blur-md;

  a {
    @apply pl-4;
  }
}

#nd-docs-layout {
  .steps .step::before {
    @apply bg-fd-card text-fd-card-foreground shadow-sm;
  }

  [role="tablist"] {
    @apply bg-fd-accent;
  }
}

.fd-codeblock {
  @apply bg-fd-card;
}
